
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d58f99; 
}

header {
    background-color: #ce6f7d; 
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav li a {
    color: black;
}

main {
    padding: 20px;
}

.hero {
    background-image: url("../image/valentines_hero_image.jpg"); 
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.hero div {
    max-width: 600px;
    margin: 0 auto;
}

.featured-content {
    text-align: center;
}

.content-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.content-item {
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.content-item img {
    width: 300px;
    height: 200px; 
}

.button {
    background-color: #c56f7c; 
    border-color: rgb(182, 74, 128);
    border-radius: 20px; 
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
} 

.button-see {
    background-color: #4b1d248f; 
    border-color: rgb(0, 0, 0);
    border-radius: 15px; 
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}